*{
	margin: 0;
	padding: 0;
	width: 100%;
	
	
	text-decoration: none;
	color: #4e4c4c;
	
}

body {
	
	
	
	font-family: 'Merienda';
	
	
	
	 
	
	
	
}
header{
	
	
	
	
}

nav{
	
	
	
	
	
}
main{
	

	
	width: 80%;
	padding-top: 5%;
	padding-left: 5%;
	
	
	
	
	
	
	
	
	
	
}
#str1 {
	color: black;
	font-size: 120%;
	
}
aside{
	
	
	
	
}
footer {
	
	color: white;
	height: 10%;
	position: fixed;
	
	
	bottom: 0;
	background-color: white;
	
	box-shadow: 10px 10px 10px 10px #e2dfe2;
	
	
	
}

#headdiv {
	width: 5%;
	float: right;
	margin-top: 2%;
	top: 0;
	margin-right: 5%;
	position: -webkit-sticky;
    position: sticky;
	padding-top: 3%;
  
	
	
}
#footerli a {
	text-align: center;
	text-decoration: none;
	width: 4%;
	float: left;
	
	
	margin-right: 10%;
	
	color: white;
	padding: 3px 3px 1px 3px;
	border-radius: 10%;
	
}
#footerli {
	
	position: absolute;
	padding-left: 20%;
	
	height: 100%;
	clear: both;
}
header {
	
	width: 20%;
	float: left;
	margin-right: 2%;
	
}
strong {
	color: black;
}
#mymap:hover {
	color: red;
	
}
p {
	font-size: 130%;
}
	
	
